{
  "openapi": "3.1.0",
  "info": {
    "title": "ShipStation API v2",
    "version": "2.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    }
  },
  "servers": [
    {
      "url": "https://api.shipstation.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "api_keys": []
    }
  ],
  "paths": {
    "/v2/inventory": {
      "x-visibility": "public",
      "summary": "Inventory",
      "description": "Manage inventory, adjust quantities, and handle warehouses and locations.\n",
      "get": {
        "operationId": "getInventoryLevels",
        "summary": "List SKU inventory levels",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "sku",
            "description": "Optional list of SKUs to filter down to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventory_warehouse_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventory_location_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Get counts for SKUs across locations or warehouses",
            "schema": {
              "type": "string",
              "enum": [
                "warehouse",
                "location"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory levels for SKUs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "type": "string"
                          },
                          "on_hand": {
                            "type": "integer"
                          },
                          "allocated": {
                            "type": "integer"
                          },
                          "available": {
                            "type": "integer"
                          },
                          "average_cost": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "inventory_warehouse_id": {
                            "type": "string"
                          },
                          "inventory_location_id": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateSKUStockLevels",
        "summary": "Update SKU stock levels and related properties",
        "tags": [
          "inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction_type",
                  "sku",
                  "quantity",
                  "inventory_location_id"
                ],
                "properties": {
                  "transaction_type": {
                    "description": "The type of update to perform:\n  increment: Increase inventory quantity for specified location.\n  decrement: Decreate inventory quantity for specified location given a set of filters.\n  adjust: Adjust on hand quantity of inventory for specified location to the quantity indicated. This is done by either adding or removing inventory in the condition specified.\n  modify: Modify attributes on specified inventory. The filters work the same as for decrement transaction type.\n",
                    "type": "string",
                    "enum": [
                      "increment",
                      "decrement",
                      "adjust",
                      "modify"
                    ]
                  },
                  "inventory_location_id": {
                    "type": "string"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  },
                  "cost": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "condition": {
                    "type": "string",
                    "enum": [
                      "sellable",
                      "damaged",
                      "expired",
                      "qa_hold"
                    ]
                  },
                  "lot": {
                    "type": "string"
                  },
                  "usable_start_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "usable_end_date": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "effective_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "new_inventory_location_id": {
                    "description": "Used with the modify transaction type to move inventory to a new location",
                    "type": "string"
                  },
                  "new_cost": {
                    "type": "object",
                    "description": "Used with the modify transaction type to update the cost of existing inventory",
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "new_condition": {
                    "description": "Used with the modify transaction type to change the condition of existing inventory",
                    "type": "string",
                    "enum": [
                      "sellable",
                      "damaged",
                      "expired",
                      "qa_hold"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Inventory successfully updated"
          }
        }
      }
    },
    "/v2/inventory_warehouses": {
      "get": {
        "operationId": "getInventoryWarehouses",
        "summary": "List all inventory warehouses",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inventory warehouses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_warehouses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inventory_warehouse_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addNewInventoryWarehouse",
        "summary": "Create a new inventory warehouse",
        "tags": [
          "inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory warehouse successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/inventory_warehouses/{inventory_warehouse_id}": {
      "get": {
        "operationId": "getInventoryWarehouseById",
        "summary": "Get a specific inventory warehouse and related properties using its warehouse ID",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "inventory_warehouse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory warehouse details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateInventoryWarehouse",
        "summary": "Update an inventory warehouse name",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "inventory_warehouse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Inventory warehouse successfully updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteInventoryWarehouse",
        "summary": "Delete an inventory warehouse",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "inventory_warehouse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remove_inventory",
            "in": "query",
            "required": false,
            "description": "If 1, remove all inventory from the warehouse before deleting it.\nIf 0 or missing and the warehouse has On Hand inventory, the request will fail.\n",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Inventory warehouse successfully deleted"
          }
        }
      }
    },
    "/v2/inventory_locations": {
      "get": {
        "operationId": "listInventoryLocations",
        "summary": "List all inventory locations",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inventory locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "inventory_location_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "inventory_warehouse_id": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createInventoryLocation",
        "summary": "Create a new inventory location",
        "tags": [
          "inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "inventory_warehouse_id"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "inventory_warehouse_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory location successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_location_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/inventory_locations/{inventory_location_id}": {
      "get": {
        "operationId": "getInventoryLocationById",
        "summary": "Get inventory location by ID",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "inventory_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory location details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inventory_location_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "inventory_warehouse_id": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateInventoryLocation",
        "summary": "Update an inventory location name",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "inventory_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Inventory location successfully updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteInventoryLocationById",
        "summary": "Delete an inventory location",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "inventory_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remove_inventory",
            "in": "query",
            "description": "If 1, remove all inventory from the location before deleting it.\nIf 0 or missing and the location has On Hand inventory, the request will fail.\n",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Inventory location successfully deleted"
          }
        }
      }
    },
    "/v2/batches": {
      "x-visibility": "public",
      "summary": "Batches",
      "description": "Batches are an advanced feature designed for those who need to generate hundreds or thousands of labels at a time.\nWhen ShipStation generates labels it relies on many carriers dependencies and variables to fulfill your requests, which can take a few minutes. Using batches reduces this time significantly for those with high label volume.\n",
      "get": {
        "summary": "List batches",
        "description": "List the batches associated with your ShipStation account.",
        "operationId": "list_batches",
        "tags": [
          "batches"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/batch_status_query_param"
          },
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/page_size_query_param"
          },
          {
            "$ref": "#/components/parameters/sort_dir_query_param"
          },
          {
            "$ref": "#/components/parameters/batch_number_query_param"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/batches_sort_by"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponseBody"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create a batch",
        "description": "Create a batch containing multiple labels.",
        "tags": [
          "batches"
        ],
        "operationId": "create_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "create_batch_request",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/create_batch_request_body"
                  },
                  {
                    "$ref": "#/components/schemas/create_and_process_batch_request_body"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponseBody"
                }
              }
            }
          },
          "207": {
            "description": "The request was a partial success. It contains results, as well as processing errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponseBody"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/external_batch_id/{external_batch_id}": {
      "x-visibility": "public",
      "summary": "External batch id",
      "description": "An external batch identifier",
      "parameters": [
        {
          "$ref": "#/components/parameters/external_batch_id_path_param"
        }
      ],
      "get": {
        "summary": "Get batch by external id",
        "description": "Retreive a batch using an external batch ID",
        "tags": [
          "batches"
        ],
        "operationId": "get_batch_by_external_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_batch_by_external_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `batch` corresponds to the `external_batch_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response_body"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}": {
      "x-visibility": "public",
      "summary": "Batch by id",
      "description": "Check the status of your batch by retrieving it with a batch id.",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "delete": {
        "summary": "Delete batch by id",
        "description": "Delete a batch based on its batch id. Sets its status to 'archived'.",
        "operationId": "delete_batch",
        "tags": [
          "batches"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "get": {
        "summary": "Get batch by id",
        "description": "Get batch details for a specific batch id.",
        "tags": [
          "batches"
        ],
        "operationId": "get_batch_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_batch_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `batch` corresponds to the `batch_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update batch status to 'archived' by id",
        "description": "Update a batch by id setting its status to 'archived'.",
        "operationId": "update_batch",
        "tags": [
          "batches"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/add": {
      "x-visibility": "public",
      "summary": "Add shipment ids or rate ids to a batch.",
      "description": "You can continue to add `shipment_ids`` and/or `rate_ids`` to already created batches until you are ready to process the batch.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "post": {
        "summary": "Add to a batch",
        "description": "Add a shipment or rate to a batch.",
        "tags": [
          "batches"
        ],
        "operationId": "add_to_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_and_process_batch_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `batch` corresponds to the `batch_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/errors": {
      "x-visibility": "public",
      "summary": "Batch errors",
      "description": "Errors in batches must be handled differently from synchronous requests. You must retrieve the status of your batch by getting a batch and getting an overview of the statuses or by listing the batch errors.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "get": {
        "summary": "Get batch errors",
        "description": "Errors in batches must be handled differently from synchronous requests. You must retrieve the status of your batch by getting a batch and getting an overview of the statuses or by listing the batch errors.\n",
        "tags": [
          "batches"
        ],
        "operationId": "list_batch_errors",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/pagesize_query_param"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_batch_errors_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/process/labels": {
      "x-visibility": "public",
      "summary": "Process Batch ID Labels",
      "description": "Process Batch ID Labels",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "post": {
        "summary": "Process batch id labels",
        "description": "Create and purchase the labels for the shipments included in the batch.",
        "tags": [
          "batches"
        ],
        "operationId": "process_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/process_batch_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/batches/{batch_id}/remove": {
      "x-visibility": "public",
      "summary": "Remove batch by id",
      "description": "Remove specific shipment ids or rate ids from a batch.",
      "parameters": [
        {
          "$ref": "#/components/parameters/batch_id_path_param"
        }
      ],
      "post": {
        "summary": "Remove from batch",
        "description": "Remove specific shipment ids or rate ids from a batch.",
        "tags": [
          "batches"
        ],
        "operationId": "remove_from_batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/remove_from_batch_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/carriers": {
      "x-visibility": "public",
      "summary": "Carriers",
      "description": "Carriers specializes in transporting freight from one destination to another.\nShipStation allows you to easily integrate with multiple carriers so you can choose the shipping services that are right for you.\n",
      "get": {
        "summary": "List carriers",
        "description": "List all carriers that have been added to this account.",
        "tags": [
          "carriers"
        ],
        "operationId": "list_carriers",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "get_carriers_response_body",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/list_carriers_response_body"
                    },
                    {
                      "$ref": "#/components/schemas/error_response_body"
                    }
                  ]
                }
              }
            }
          },
          "207": {
            "description": "The request was a partial success. It contains results, as well as errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "get_carriers_response_body",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/list_carriers_response_body"
                    },
                    {
                      "$ref": "#/components/schemas/error_response_body"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/carriers/{carrier_id}": {
      "x-visibility": "public",
      "summary": "Individual carriers",
      "description": "Perform actions and get information on individual carriers connected to your account.",
      "parameters": [
        {
          "$ref": "#/components/parameters/carrier_id_path_param"
        }
      ],
      "get": {
        "summary": "Get carrier by id",
        "description": "Retrive details about a specific carrier by its carrier id.",
        "tags": [
          "carriers"
        ],
        "operationId": "get_carrier_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_carrier_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/carriers/{carrier_id}/options": {
      "x-visibility": "public",
      "summary": "Carrier options",
      "description": "Carriers support various options for the shipments they transport. For example, non-machinable, is_alcohol, fragile, etc.",
      "parameters": [
        {
          "$ref": "#/components/parameters/carrier_id_path_param"
        }
      ],
      "get": {
        "summary": "Get carrier options",
        "description": "Get a list of the options available for a specific carriers.",
        "tags": [
          "carriers"
        ],
        "operationId": "get_carrier_options",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_carrier_options_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/carriers/{carrier_id}/packages": {
      "x-visibility": "public",
      "summary": "Carrier packages",
      "description": "Carriers support many different package types. ShipStation supports retrieving all available package types so you can best determine what is right for your particular shipments.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/carrier_id_path_param"
        }
      ],
      "get": {
        "summary": "List carrier package types",
        "description": "List the package types associated with a specific carrier.",
        "tags": [
          "carriers"
        ],
        "operationId": "list_carrier_package_types",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_carrier_package_types_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/carriers/{carrier_id}/services": {
      "x-visibility": "public",
      "summary": "Carrier services",
      "description": "Carrier services usually refer to the various shipping classes a carrier makes available to its customers. For example, Priority mail, overnight, international, etc.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/carrier_id_path_param"
        }
      ],
      "get": {
        "summary": "List carrier services",
        "description": "List the services associated with a specific carrier id.",
        "tags": [
          "carriers"
        ],
        "operationId": "list_carrier_services",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_carrier_services_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/downloads/{dir}/{subdir}/{filename}": {
      "x-visibility": "public",
      "summary": "File download",
      "description": "This endpoint is used to download forms that are generated in the various pdf, png, zpl formats such as labels and batches.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/subdir_path_param"
        },
        {
          "$ref": "#/components/parameters/filename_path_param"
        },
        {
          "$ref": "#/components/parameters/dir_path_param"
        }
      ],
      "get": {
        "summary": "Download file",
        "description": "Download labels and other shipment-related documents.",
        "operationId": "download_file",
        "tags": [
          "downloads"
        ],
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rotation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success",
            "content": {
              "application/pdf": {
                "schema": {
                  "title": "download_file_pdf_response_body",
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "title": "download_file_png_response_body",
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/zpl": {
                "schema": {
                  "title": "download_file_zpl_response_body",
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/fulfillments": {
      "x-visibility": "public",
      "summary": "Fulfillments",
      "description": "Fulfillments represent completed shipments that have been marked as shipped with tracking information.\nUse fulfillments to notify customers and marketplaces when orders have been shipped and to provide tracking details.\n",
      "get": {
        "summary": "List fulfillments",
        "description": "Retrieve a list of fulfillments based on various filter criteria. You can filter by shipment details,\ntracking information, dates, and more to find the specific fulfillments you need.\n",
        "tags": [
          "fulfillments"
        ],
        "operationId": "list_fulfillments",
        "parameters": [
          {
            "name": "ship_to_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by recipient name"
          },
          {
            "name": "ship_to_country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by ship-to country code (2-letter ISO country code)",
            "example": "US"
          },
          {
            "name": "shipment_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by shipment number (order number)"
          },
          {
            "name": "shipment_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific shipment id",
            "example": "se-12345678"
          },
          {
            "name": "fulfillment_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific fulfillment id",
            "example": "se-12345678"
          },
          {
            "name": "batch_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by batch id",
            "example": "se-12345678"
          },
          {
            "name": "order_source_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by order source id (store id)",
            "example": "se-12345678"
          },
          {
            "name": "fulfillment_provider_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by fulfillment provider code"
          },
          {
            "name": "tracking_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tracking number"
          },
          {
            "name": "ship_date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by ship date start (inclusive)",
            "example": "2024-01-01T00:00:00Z"
          },
          {
            "name": "ship_date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by ship date end (inclusive)",
            "example": "2024-01-31T23:59:59Z"
          },
          {
            "name": "create_date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by creation date start (inclusive)",
            "example": "2024-01-01T00:00:00Z"
          },
          {
            "name": "create_date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter by creation date end (inclusive)",
            "example": "2024-01-31T23:59:59Z"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 25
            },
            "description": "Number of results per page"
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort direction"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "modified_at",
                "shipped_at"
              ],
              "default": "created_at"
            },
            "description": "Sort field"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fulfillments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/fulfillment"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "pages": {
                      "type": "integer",
                      "description": "Total number of pages",
                      "example": 10
                    },
                    "total": {
                      "type": "integer",
                      "example": 100,
                      "description": "Total number of fulfillments"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://api.shipstation.com/v2/fulfillments?page=1&page_size=100"
                            }
                          }
                        },
                        "last": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://api.shipstation.com/v2/fulfillments?page=3&page_size=100"
                            }
                          }
                        },
                        "prev": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://api.shipstation.com/v2/fulfillments?page=1&page_size=100"
                            }
                          }
                        },
                        "next": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "example": "https://api.shipstation.com/v2/fulfillments?page=3&page_size=100"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create fulfillments",
        "description": "Create one or more fulfillments by marking shipments as shipped with tracking information.\nThis will notify customers and marketplaces according to your configuration.\n",
        "tags": [
          "fulfillments"
        ],
        "operationId": "create_fulfillments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fulfillments"
                ],
                "properties": {
                  "fulfillments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "shipment_id",
                        "tracking_number",
                        "carrier_code"
                      ],
                      "properties": {
                        "shipment_id": {
                          "type": "string",
                          "description": "The shipment id to fulfill",
                          "example": "se-12345678"
                        },
                        "tracking_number": {
                          "type": "string",
                          "description": "Tracking number for the shipment",
                          "example": "1Z12345E1234567890"
                        },
                        "carrier_code": {
                          "type": "string",
                          "description": "Carrier code (e.g., \"ups\", \"fedex\", \"usps\")",
                          "example": "ups"
                        },
                        "ship_date": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Ship date (defaults to current date if not provided)",
                          "example": "2024-01-15T10:00:00Z"
                        },
                        "notify_customer": {
                          "type": "boolean",
                          "description": "Whether to notify the customer via email",
                          "example": true
                        },
                        "notify_order_source": {
                          "type": "boolean",
                          "description": "Whether to notify the order source/marketplace",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fulfillments processed (check has_errors and individual results)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "has_errors": {
                      "type": "boolean",
                      "description": "Indicates if any fulfillments failed to create",
                      "example": false
                    },
                    "fulfillments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shipment_id": {
                            "type": "string",
                            "description": "The shipment ID that was processed",
                            "example": "se-12345678"
                          },
                          "shipment_number": {
                            "type": "string",
                            "description": "The shipment number (order number)",
                            "example": "ORDER-001"
                          },
                          "error_message": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Error message if creation failed (null on success)",
                            "example": null
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels": {
      "x-visibility": "public",
      "summary": "Print shipping labels",
      "description": "Print shipping labels for any of the top global carriers in minutes. Simply connect your existing carrier accounts in the API dashboard, and start creating labels.\n",
      "get": {
        "summary": "List labels",
        "description": "This method returns a list of labels that you've created. You can optionally filter the results as well as control their sort order and the number of results returned at a time.\n\nBy default all labels are returned 25 at a time, starting with the most recently created ones. You can combine multiple filter options to narrow-down the results.  For example, if you only want your UPS labels for your east coast warehouse you could query by both `warehouse_id` and `carrier_id`.\n",
        "tags": [
          "labels"
        ],
        "operationId": "list_labels",
        "parameters": [
          {
            "name": "label_status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/label_status"
            },
            "description": "Only return labels that are currently in the specified status."
          },
          {
            "name": "service_code",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/service_code"
            },
            "example": "usps_first_class_mail",
            "description": "Only return labels for a specific carrier service."
          },
          {
            "$ref": "#/components/parameters/carrier_id_query_param",
            "description": "Only return labels for a specific carrier account."
          },
          {
            "$ref": "#/components/parameters/tracking_number_query_param",
            "description": "Only return labels with a specific tracking number."
          },
          {
            "$ref": "#/components/parameters/batch_id_query_param",
            "description": "Only return labels that were created in a specific batch."
          },
          {
            "$ref": "#/components/parameters/rate_id_query_param"
          },
          {
            "$ref": "#/components/parameters/shipment_id_query_param"
          },
          {
            "$ref": "#/components/parameters/warehouse_id_query_param",
            "description": "Only return labels that originate from a specific warehouse."
          },
          {
            "$ref": "#/components/parameters/created_at_start_query_param",
            "description": "Only return labels that were created on or after a specific date/time."
          },
          {
            "$ref": "#/components/parameters/created_at_end_query_param",
            "description": "Only return labels that were created on or before a specific date/time."
          },
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/page_size_query_param"
          },
          {
            "$ref": "#/components/parameters/sort_dir_query_param"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "modified_at",
                "created_at"
              ],
              "default": "created_at"
            },
            "description": "Controls which field the query is sorted by."
          }
        ],
        "responses": {
          "200": {
            "description": "The response includes a `labels` array containing a page of results (as determined by the `page_size` query parameter). It also includes other useful information, such as the total number of labels that match the query criteria, the number of pages of results, and the URLs of the first, last, next, and previous pages of results.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_labels_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Purchase label",
        "description": "Purchase and print a label for shipment.",
        "tags": [
          "labels"
        ],
        "operationId": "create_label",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_label_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_label_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels/rates/{rate_id}": {
      "x-visibility": "public",
      "summary": "Use a rate to purchase a label",
      "description": "Purchase a label using a `rate_id` that has been previously generated while looking at various rates for a particular shipment.",
      "parameters": [
        {
          "$ref": "#/components/parameters/rate_id_path_param"
        }
      ],
      "post": {
        "summary": "Purchase label with rate id",
        "description": "When retrieving rates for shipments using the `/rates` endpoint, the returned information contains a `rate_id` property that can be used to generate a label without having to refill in the shipment information repeatedly.\n",
        "tags": [
          "labels"
        ],
        "operationId": "create_label_from_rate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_label_from_rate_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_label_from_rate_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels/shipment/{shipment_id}": {
      "x-visibility": "public",
      "summary": "Purchase label using shipment ID",
      "description": "Purchase a label using a shipment ID that has already been created with the desired address and package info.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/shipment_id_path_param"
        }
      ],
      "post": {
        "summary": "Purchase label with shipment id",
        "description": "Purchase a label using a shipment ID that has already been created with the desired address and package info.\n",
        "tags": [
          "labels"
        ],
        "operationId": "create_label_from_shipment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_label_from_shipment_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_label_from_shipment_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels/{label_id}": {
      "x-visibility": "public",
      "summary": "Label",
      "description": "Retrieve a specific label by its label id.",
      "parameters": [
        {
          "$ref": "#/components/parameters/label_id_path_param"
        }
      ],
      "get": {
        "summary": "Get label by id",
        "description": "Retrieve a specific label by its label id.",
        "tags": [
          "labels"
        ],
        "operationId": "get_label_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/label_download_type_query_param"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_label_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `label` corresponds to the `label_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels/{label_id}/return": {
      "x-visibility": "public",
      "summary": "Return labels.  This currently creates a return for all SKUs on the referenced label.",
      "parameters": [
        {
          "$ref": "#/components/parameters/label_id_path_param"
        }
      ],
      "post": {
        "summary": "Create a return label",
        "description": "Create a return label for a previously created outbound label. The return label will automatically swap the ship to and ship from addresses from the original label.",
        "tags": [
          "labels"
        ],
        "operationId": "create_return_label",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_return_label_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_return_label_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `label` corresponds to the `label_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels/{label_id}/track": {
      "x-visibility": "public",
      "summary": "Tracking a label",
      "description": "Carriers will provide tracking information so you can monitor the status of your shipment.",
      "parameters": [
        {
          "$ref": "#/components/parameters/label_id_path_param"
        }
      ],
      "get": {
        "summary": "Get label tracking information",
        "description": "Retrieve the label's tracking details.",
        "tags": [
          "labels"
        ],
        "operationId": "get_tracking_log_from_label",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_tracking_log_from_label_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/labels/{label_id}/void": {
      "x-visibility": "public",
      "summary": "Label voiding",
      "description": "Some carriers charge for creating a label upon purchase vs upon use. The ShipStation API allows you to void a label to get a refund.\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/label_id_path_param"
        }
      ],
      "put": {
        "summary": "Void a label by id",
        "description": "Void a specific label using its label id. For labels that are paid for at time of label creation, this will also request a refund from the carrier.",
        "tags": [
          "labels"
        ],
        "operationId": "void_label",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/void_label_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/manifests": {
      "x-visibility": "public",
      "summary": "Manifests",
      "description": "Many manifests are sent electronically to the carrier when you create a label, and\noften physical manifests are not necessary. Carriers receive the package details, shipping date,\nand other information that help them plan your package's delivery when you create a label.\n\nHowever, some providers, like USPS require manifests when shipping large numbers of packages. Think about how long it would take for a delivery driver to arrive, pick up 100 packages, and individually scan each of them.\n\nA manifest exists so the carrier can scan the manifest and check in all the packages being shipped.\n",
      "get": {
        "summary": "List manifests",
        "description": "Similar to querying shipments, we allow you to query manifests since there will likely be a large number over a long period of time.",
        "tags": [
          "manifests"
        ],
        "operationId": "list_manifests",
        "parameters": [
          {
            "$ref": "#/components/parameters/warehouse_id_query_param"
          },
          {
            "name": "ship_date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2018-09-23T15:00:00.000Z",
            "description": "ship date start range"
          },
          {
            "name": "ship_date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2018-09-23T15:00:00.000Z",
            "description": "ship date end range"
          },
          {
            "$ref": "#/components/parameters/created_at_start_query_param"
          },
          {
            "$ref": "#/components/parameters/created_at_end_query_param"
          },
          {
            "$ref": "#/components/parameters/carrier_id_query_param"
          },
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/page_size_query_param"
          },
          {
            "$ref": "#/components/parameters/label_ids_query_param"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_manifests_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create manifest",
        "description": "Each ShipStation manifest is created for a specific warehouse, so you'll need to provide the warehouse_id\nrather than the ship_from address. You can create a warehouse for each location that you want to create manifests for.\n",
        "tags": [
          "manifests"
        ],
        "operationId": "create_manifest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "create_manifest_request_body",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/create_manifest_by_object_request_body"
                  },
                  {
                    "$ref": "#/components/schemas/create_manifest_label_ids_request_body"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_manifest_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/manifests/{manifest_id}": {
      "x-visibility": "public",
      "summary": "Manifest id",
      "description": "Manifest ID",
      "parameters": [
        {
          "$ref": "#/components/parameters/manifest_id_path_param"
        }
      ],
      "get": {
        "summary": "Get manifest by id",
        "description": "Get Manifest By Id",
        "tags": [
          "manifests"
        ],
        "operationId": "get_manifest_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_manifest_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `manifest` corresponds to the `manifest_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response_body"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/packages": {
      "x-visibility": "public",
      "summary": "Packages",
      "description": "Sometimes the default package types that carriers provide aren't enough and you need to create your own. That's where\nthe `/packages` endpoint becomes useful. Create, manage, and delete custom package types to suit your specific needs.\n",
      "get": {
        "summary": "List custom package types",
        "description": "List the custom package types associated with the account",
        "tags": [
          "package_types"
        ],
        "operationId": "list_package_types",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_package_types_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Create custom package type",
        "description": "Create a custom package type to better assist in getting accurate rate estimates",
        "tags": [
          "package_types"
        ],
        "operationId": "create_package_type",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_package_type_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_package_type_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/packages/{package_id}": {
      "x-visibility": "public",
      "summary": "Package",
      "description": "Create, edit, and delete individual custom packages.",
      "parameters": [
        {
          "$ref": "#/components/parameters/package_id_path_param"
        }
      ],
      "get": {
        "summary": "Get custom package type by id",
        "description": "Get Custom Package Type by ID",
        "tags": [
          "package_types"
        ],
        "operationId": "get_package_type_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_package_type_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `package` corresponds to the `package_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "summary": "Update custom package type by id",
        "description": "Update the custom package type object by ID",
        "tags": [
          "package_types"
        ],
        "operationId": "update_package_type",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_package_type_request_body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete a custom package by id",
        "description": "Delete a custom package using the ID",
        "tags": [
          "package_types"
        ],
        "operationId": "delete_package_typ",
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "description": "The API returns a 400 response when no `package` corresponds to the `package_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "404": {
            "description": "The API returns a 404 response when no `package` corresponds to the `package_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "empty_response_body",
                  "type": "string",
                  "minLength": 0,
                  "maxLength": 0
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/pickups": {
      "x-visibility": "public",
      "summary": "Scheduled pickups",
      "description": "Scheduled package pickups\n",
      "get": {
        "summary": "List scheduled pickups",
        "description": "List all pickups that have been scheduled for this carrier",
        "tags": [
          "package_pickups"
        ],
        "operationId": "list_scheduled_pickups",
        "parameters": [
          {
            "$ref": "#/components/parameters/carrier_id_query_param"
          },
          {
            "$ref": "#/components/parameters/warehouse_id_query_param"
          },
          {
            "$ref": "#/components/parameters/created_at_start_query_param",
            "description": "Only return scheduled pickups that were created on or after a specific date/time"
          },
          {
            "$ref": "#/components/parameters/created_at_end_query_param",
            "description": "Only return scheduled pickups that were created on or before a specific date/time"
          },
          {
            "$ref": "#/components/parameters/page_query_param"
          },
          {
            "$ref": "#/components/parameters/page_size_query_param"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "get_pickups_response_body",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/list_pickup_response_body"
                    },
                    {
                      "$ref": "#/components/schemas/error_response_body"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "summary": "Schedule a pickup",
        "description": "Schedule a package pickup with a carrier",
        "tags": [
          "package_pickups"
        ],
        "operationId": "schedule_pickup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/schedule_pickup_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "schedule_pickup_response_body",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/schedule_pickup_response_body"
                    },
                    {
                      "$ref": "#/components/schemas/error_response_body"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/pickups/{pickup_id}": {
      "x-visibility": "public",
      "summary": "Scheduled pickup",
      "description": "A package pickup that has been scheduled with a carrier\n",
      "parameters": [
        {
          "$ref": "#/components/parameters/pickup_id_path_param"
        }
      ],
      "get": {
        "summary": "Get pickup by id",
        "description": "Get Pickup By ID",
        "tags": [
          "package_pickups"
        ],
        "operationId": "get_pickup_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "get_pickup_by_id_response_body",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pickup_response_body"
                    },
                    {
                      "$ref": "#/components/schemas/error_response_body"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete a scheduled pickup",
        "description": "Delete a previously-scheduled pickup by ID",
        "tags": [
          "package_pickups"
        ],
        "operationId": "delete_scheduled_pickup",
        "responses": {
          "200": {
            "description": "Return the `pickup_id` of the scheduled pickup that was successfully deleted\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "delete_pickup_by_id_response_body",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/error_response_body"
                    },
                    {
                      "$ref": "#/components/schemas/delete_scheduled_pickup_response_body"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/rates": {
      "x-visibility": "public",
      "summary": "Rates",
      "description": "Get the various rates for a set of carriers",
      "post": {
        "summary": "Get shipping rates",
        "description": "It's not uncommon that you want to give your customer the choice between whether they want to ship the fastest, cheapest, or the most trusted route. Most companies don't solely ship things using a single shipping option;\nso we provide functionality to show you all your options!\n",
        "tags": [
          "rates"
        ],
        "operationId": "calculate_rates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calculate_rates_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calculate_rates_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/rates/estimate": {
      "x-visibility": "public",
      "summary": "Rate Estimates",
      "description": "Show rate estimations between carriers with basic information.",
      "post": {
        "summary": "Estimate rates",
        "description": "Get Rate Estimates",
        "tags": [
          "rates"
        ],
        "operationId": "estimate_rates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/estimate_rates_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/estimate_rates_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/rates/{rate_id}": {
      "x-visibility": "public",
      "summary": "Rate",
      "description": "Get Individual rate information.",
      "parameters": [
        {
          "$ref": "#/components/parameters/rate_id_path_param"
        }
      ],
      "get": {
        "summary": "Get rate by id",
        "description": "Retrieve a previously queried rate by its ID",
        "tags": [
          "rates"
        ],
        "operationId": "get_rate_by_id",
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_rate_by_id_response_body"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "The API returns a 404 response when no `rate` corresponds to the `rate_id` provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response_body"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/shipments": {
      "x-visibility": "public",
      "summary": "Shipments",
      "description": "Shipments are the gatekeeper to more advanced functionality inside ShipStation. When you create a shipment, we respond with a shipment_id that is a unique identifier inside of ShipStation.\nAdditionally, we realize that you may have your own identifier, you can set this by setting the `external_shipment_id` field in the request body.\n",
      "get": {
        "summary": "List shipments",
        "description": "Get list of Shipments",
        "tags": [
          "shipments"
        ],
        "operationId": "list_shipments",
        "parameters": [
          {
            "name": "shipment_status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/shipment_status"
            }
          },
          {
            "$ref": "#/components/parameters/batch_id_query_param"
          },
          {
            "$ref": "#/components/parameters/pickup_id_query_param"
          },
          {
            "$ref": "#/components/parameters/created_at_start_query_param"
          },
          {
[...]
