exclude: 'node_modules|.git'
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        files: 'shipstation_integration.*'
        exclude: '.*json$|.*txt$|.*csv|.*md|.*svg'
      - id: check-yaml
      - id: no-commit-to-branch
        args: ['--branch', 'develop']
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        args: ['--py310-plus']

  - repo: https://github.com/agritheory/black
    rev: 951ccf4d5bb0d692b457a5ebc4215d755618eb68
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier . --write --ignore-path .prettierignore
        language: node

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies: ['flake8-bugbear']

  - repo: https://github.com/agritheory/test_utils
    rev: v0.15.0
    hooks:
      - id: update_pre_commit_config
      - id: validate_copyright
        files: '\.(js|ts|py|md)$'
        args: ['--app', 'shipstation_integration']
      - id: clean_customized_doctypes
        args: ['--app', 'shipstation_integration']
      - id: validate_customizations
      - id: validate_python_dependencies
      - id: validate_javascript_dependencies

ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false
